<header>
  <div class="max-width">
    <nav>
      <ul>
        <li><a routerLink="/user" routerLinkActive="active">User</a></li>
        <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
      </ul>
    </nav>
    <button (click)="logout()">Sair</button>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <span>
    Desenvolvido por Fernanda Boff
    <a href="https://www.linkedin.com/in/fernandaboff/"><img src="../assets/linkedin-in-brands.svg"
        alt="LinkendIn de Fernanda Boff"></a>
  </span>
</footer>
